@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-50: hsl(189, 47%, 97%);
  --color-grey-200: hsl(185, 41%, 84%);
  --color-grey-300: hsl(184, 19%, 68%);
  --color-grey-400: hsl(184, 14%, 56%);
  --color-grey-500: hsl(186, 14%, 43%);
  --color-grey-550: hsl(180, 18%, 40%);
  --color-grey-6000: hsl(180, 25%, 32%);

  --color-green-200: hsl(173, 61%, 77%);
  --color-green-400: hsl(172, 67%, 46%);
  --color-green-750: hsl(183, 79%, 24%);
  --color-green-800: hsl(183, 85%, 21%);
  --color-green-900: hsl(183, 100%, 15%);

  --color-orange-400: hsl(13, 70%, 60%);


}

body {
  font-family: 'Space Mono', sans-serif;
  line-height: 24px;
  letter-spacing: 0px;
  font-weight: 700;
  background-color: var(--color-grey-200);
  align-content: center;
}


main {

}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }