@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-50: hsl(189, 47%, 97%);
  --color-grey-200: hsl(185, 41%, 84%);
  --color-grey-300: hsl(184, 19%, 68%);
  --color-grey-400: hsl(184, 14%, 56%);
  --color-grey-500: hsl(186, 14%, 43%);
  --color-grey-550: hsl(180, 18%, 40%);
  --color-grey-6000: hsl(180, 25%, 32%);

  --color-green-200: hsl(173, 61%, 77%);
  --color-green-400: hsl(172, 67%, 46%);
  --color-green-750: hsl(183, 79%, 24%);
  --color-green-800: hsl(183, 85%, 21%);
  --color-green-900: hsl(183, 100%, 15%);

  --color-orange-400: hsl(13, 70%, 60%);
}

body {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  background-color: var(--color-grey-200);
  align-content: center;
}

header {
  display: flex;
  justify-content: center;
  margin-block-start: 3.125rem;
  margin-block-end: 2.5625rem;
}

main {
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--color-white);
  max-width: 375px;
  padding: 2rem 1.5rem;
  border-radius: 25px 25px 0 0;
}

input {
  color: var(--color-green-900);
  font-size: 1.5rem;
  text-align: right;
  padding: 0.5rem 1rem;
  background-color: var(--color-grey-50);
  border: none;
  border-radius: 5px;
  width: 100%;
}

.calc__input {
  display: grid;
  gap: 2rem;
  width: 100%;
  label {
    color: var(--color-grey-500);
  }
}

.people__label {
  display: flex;
  justify-content: space-between;
}

.error {
  color: var(--color-orange-400);
}

.border_color_error,
.border_color_error:active,
.border_color_error:focus-visible {
  outline: var(--color-orange-400);
  border: 2px solid var(--color-orange-400);
}

.border_color_success,
.border_color_success:active,
.border_color_success:focus-visible {
  outline-color: var(--color-green-400);
  border: 2px solid var(--color-green-400);
}

.bill,
.people {
  position: relative;
}

.bill::before,
.people::before {
  width: 24px;
  height: 24px;
  top: 50px;
  left: 23px;
  opacity: 0.5;
  position: absolute;
}

.bill::before {
  content: url("/images/icon-dollar.svg");
}

.people::before {
  content: url("/images/icon-person.svg");
}

.bill,
.people,
.tip {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

button {
  cursor: pointer;
}

.tip__btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  button {
    background-color: var(--color-green-900);
    color: var(--color-white);
    font-size: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 5px;

    &:active,
    &:focus,
    &:hover,
    &.active {
      color: var(--color-green-900);
      background-color: var(--color-green-400);
      border-color: var(--color-green-900);
    }
  }
}

.calc {
  background-color: var(--color-green-900);
  border-radius: 15px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.calc__group {
  display: grid;
  gap: 1.5rem;
}

.calc__item {
  display: flex;
  justify-content: space-between;
}

.calc__heading {
  color: var(--color-white);
}

.calc__subheading {
  color: var(--color-grey-500);
  font-size: 0.8125rem;
}

.calc__amount {
  color: var(--color-green-400);
  font-size: 2rem;
}

.calc__reset-btn {
  background-color: var(--color-green-400);
  border: none;
  color: var(--color-green-900);
  font-size: 1.25rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.calc__reset-btn:hover {
  background: var(--color-green-200);
}

footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  main {
    max-width: 608px;
    padding: 3rem 5rem;
    border-radius: 25px;
  }

  .tip__btns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    max-width: 920px;
    padding: 2rem;
    gap: 3rem;
  }

  .calc__input {
    max-width: 379px;
  }

  .tip__btns input {
    padding: 0;
  }

  .calc {
    width: 100%;
    padding-inline: 2rem;
    justify-content: space-between;
  }

  .calc__item {
    align-items: center;
  }

  .calc__amount {
    font-size: 3rem;
  }
}
